
.icon-align-justify:before { content: '\30'; } /* '0' */
.icon-chart-pie-slice:before { content: '\31'; } /* '1' */
.icon-chart-pie:before { content: '\32'; } /* '2' */
.icon-calendar-days:before { content: '\33'; } /* '3' */
.icon-book-text:before { content: '\34'; } /* '4' */
.icon-bell-ring:before { content: '\35'; } /* '5' */
.icon-bell:before { content: '\36'; } /* '6' */
.icon-arrow-up-narrow-wide:before { content: '\37'; } /* '7' */
.icon-arrow-down-wide-narrow:before { content: '\38'; } /* '8' */
.icon-arrow-bend-double-up-right:before { content: '\39'; } /* '9' */
.icon-save-all:before { content: '\3a'; } /* ':' */
.icon-package:before { content: '\3b'; } /* ';' */
.icon-palette:before { content: '\3c'; } /* '<' */
.icon-paperclip:before { content: '\3d'; } /* '=' */
.icon-philippine-peso:before { content: '\3e'; } /* '>' */
.icon-phone:before { content: '\3f'; } /* '?' */
.icon-plus:before { content: '\40'; } /* '@' */
.icon-power:before { content: '\41'; } /* 'A' */
.icon-printer:before { content: '\42'; } /* 'B' */
.icon-receipt-text:before { content: '\43'; } /* 'C' */
.icon-rotate-ccw:before { content: '\44'; } /* 'D' */
.icon-save:before { content: '\45'; } /* 'E' */
.icon-send:before { content: '\46'; } /* 'F' */
.icon-settings:before { content: '\47'; } /* 'G' */
.icon-sliders-horizontal:before { content: '\48'; } /* 'H' */
.icon-sliders-vertical:before { content: '\49'; } /* 'I' */
.icon-speaker-simple-high:before { content: '\4a'; } /* 'J' */
.icon-speaker-simple-low:before { content: '\4b'; } /* 'K' */
.icon-speaker-simple-none:before { content: '\4c'; } /* 'L' */
.icon-speaker-simple-x:before { content: '\4d'; } /* 'M' */
.icon-trash-2:before { content: '\4e'; } /* 'N' */
.icon-trending-down:before { content: '\4f'; } /* 'O' */
.icon-trending-up:before { content: '\50'; } /* 'P' */
.icon-upload-simple:before { content: '\51'; } /* 'Q' */
.icon-user-round-minus:before { content: '\52'; } /* 'R' */
.icon-user-round-pen:before { content: '\53'; } /* 'S' */
.icon-user-round-plus:before { content: '\54'; } /* 'T' */
.icon-users-round:before { content: '\55'; } /* 'U' */
.icon-venus:before { content: '\56'; } /* 'V' */
.icon-chevron-down:before { content: '\57'; } /* 'W' */
.icon-chevron-left:before { content: '\58'; } /* 'X' */
.icon-chevron-right:before { content: '\59'; } /* 'Y' */
.icon-chevron-up:before { content: '\5a'; } /* 'Z' */
.icon-eye:before { content: '\5b'; } /* '[' */
.icon-eye-off:before { content: '\5c'; } /* '\' */
.icon-file-text:before { content: '\5d'; } /* ']' */
.icon-folder-closed:before { content: '\5e'; } /* '^' */
.icon-folder-open:before { content: '\5f'; } /* '_' */
.icon-funnel:before { content: '\60'; } /* '`' */
.icon-globe:before { content: '\61'; } /* 'a' */
.icon-house:before { content: '\62'; } /* 'b' */
.icon-id-card:before { content: '\63'; } /* 'c' */
.icon-languages:before { content: '\64'; } /* 'd' */
.icon-layout-panel-left:before { content: '\65'; } /* 'e' */
.icon-lock-keyhole:before { content: '\66'; } /* 'f' */
.icon-lock-keyhole-open:before { content: '\67'; } /* 'g' */
.icon-log-out:before { content: '\68'; } /* 'h' */
.icon-mail:before { content: '\69'; } /* 'i' */
.icon-map:before { content: '\6a'; } /* 'j' */
.icon-map-pin:before { content: '\6b'; } /* 'k' */
.icon-mars:before { content: '\6c'; } /* 'l' */
.icon-message-square-more:before { content: '\6d'; } /* 'm' */
.icon-morphiq:before { content: '\6e'; } /* 'n' */
.icon-newspaper:before { content: '\6f'; } /* 'o' */
.icon-notebook-text:before { content: '\70'; } /* 'p' */
.icon-user-round-search:before { content: '\71'; } /* 'q' */
.icon-archive:before { content: '\72'; } /* 'r' */
.icon-search:before { content: '\73'; } /* 's' */
.icon-ban:before { content: '\74'; } /* 't' */
.icon-circle-user-round:before { content: '\75'; } /* 'u' */
.icon-mail-open:before { content: '\76'; } /* 'v' */
.icon-x:before { content: '\77'; } /* 'w' */
.icon-arrows-up-from-line:before { content: '\78'; } /* 'x' */
